<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <address>
          417 E 68th St <br/>
          New York, NY 10065 <br/>
          <a href="https://maps.app.goo.gl/pZrthCX7T5saB1Pm9">Directions and Parking</a>
        </address>
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>
  

      <div class="footer-col footer-col-3">
        <p>Contact:  <code>chakrabj (at) mskcc.org   </code></p>
        <p>Last modified: {% if page.date %}{{ page.date | date: "%B %-d, %Y" }}{% else %}{{ site.time | date: "%B %-d, %Y" }}{% endif %}</p>
      </div>
      
    </div>

  </div>

</footer>
