<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <p><h2 class="footer-heading""> {{ site.title | escape }} </p>
        <p>Contact:  <code>chakrabj (at) mskcc.org   </code></p>
        <p> <a href="https://www.linkedin.com/in/jayasree-chakraborty"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">Jayasree Chakraborty</span></a></p>
        <p>Last modified: {% if page.date %}{{ page.date | date: "%B %-d, %Y" }}{% else %}{{ site.time | date: "%B %-d, %Y" }}{% endif %}</p>
        <p><button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" class="btn btn-primary" style="font-size: 24px;">▲</button>  </p>
      </div>


      <div class="footer-col footer-col-2">
        <a href="https://www.mskcc.org/locations/directory/zuckerman-research"> Zuckerman Research Center </a>
        
        <address>
          417 E 68th St, New York, NY 10065 <br/>
        </address>

        <!-- Embed Google Maps -->
        <div style="position: relative; overflow: hidden; width: 100%; padding-top: 56.25%;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.463798677187!2d-73.957797484322!3d40.764267243250066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f0465ae51%3A0x3d28ba92b5a896e1!2s417%20E%2068th%20St%2C%20New%20York%2C%20NY%2010065%2C%20USA!5e0!3m2!1sen!2s!4v1649022170812!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      
    </div>
    
  </div>

</footer>
