---
---

@import "{{ site.theme }}";


html { overflow-y: scroll; }

body {
	line-height: 1.5;
}


.site-header {
  background: rgba(33, 47, 61, 0.9);;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}

.wrapper {
  width: 90%; /* Adjust this as needed */
  margin: 0 auto;
}

/* Adjustments to ensure content below the fixed header */
.site-content {
  margin-top: 80px; /* Adjust based on header height */
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px
}

.contact-list,.social-media-list {
    list-style: none;
    margin-left: 0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px
}

.footer-col-1 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2))
}

.footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2))
}


@media screen and (max-width: 800px) {
    .footer-col-1 {
        width:-webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }

    .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float:none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

/*===========================================*/


.site-nav .page-link {
	color: #eaecee;
}

.site-title, .site-title:visited {
	color: #eaecee;
}

.site-logo {
	height: 64px;
	margin: 5px 0px;
}

.site-nav {
	line-height: 68px;
}

h1.post-title, h1.page-heading {
	font-size: 28px;
}

h2.post-list-heading {
	font-size: 28px;
}

.post-content h2 {
	border-bottom: 1px solid #AAA;
	font-size: 20px;
	color: #566573 ;
}

.post-content h3 {
	font-size: 16px;
	color: #566573;
}

ul li + li {
	margin-top: .5em;
}


ul.people {
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 15px;
}

ul.people li {
	vertical-align: top;
	width: 200px;
	margin: auto;
	padding: 5px;
	border: 1px solid #AAA;    
	background-color: #EEE;
	border-radius: 5px;
	justify-content: center;
}

ul.people li img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 10px 0px;
}

ul.people li p {
  margin-top: 10px;
  font-size: 14px;
}




/*===========================================*/


.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  width: calc(100% - 40px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
}

.project-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  transform: scale(1.05); 
}

.project-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project-info {
  flex: 1;
  padding: 20px;
}

.project-info h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.project-info p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/*===========================================*/
